<!-- Serene and Sleep -->
<div class="thumbnail">
    <img src="/assets/img/products/luciluci/cha-matcha-limao.jpg" alt="Cha Matcha Limao">
    <div class="caption">
        <h3>Chá Matcha limão<span class="badge label-success pull-right"> 200g </span> </h3>
        <p>Bebida a base de Matcha, com sabor natural de Limão</p>
        <p class="text-center"><a href="https://loja.luciluci.com.br/produto/cha-matcha-limao?u=ligiavalle" class="btn btn-primary btn-lg btn-luciluci"  role="button" target="_blank">Descubra mais</a></p>
    </div>
</div>
