<div class="thumbnail">
    <img src="/assets/img/products/luciluci/collagene-vitae.jpg" alt="Vitae">
    <div class="caption">
        <h3>Vitae<span class="badge label-success pull-right"> 270g </span> </h3>
        <p>Beauty Drink Colágeno Verisol® (Sabor frutas vermelhas)</p>
        <p class="text-center"><a href="https://loja.luciluci.com.br/produto/beauty-drink-colageno-verisol-270g-sabor-frutas-vermelhas?u=ligiavalle" class="btn btn-primary btn-lg btn-luciluci"  role="button" target="_blank">Descubra mais</a></p>
    </div>
</div>