<!-- BREATHE WELL -->
<div class="thumbnail">
    <img src="/assets/img/products/luciluci/mind-in-peace.jpg" alt="ESSENCIAL OIL BLEND - MIND IN PEACE">
    <div class="caption">
        <h3>Mind in peace<span class="badge label-success pull-right"> 15ml </span> </h3>
        <p>Essencial oil</p>
        <p class="text-center"><a href="https://loja.luciluci.com.br/produto/essencial-oil-blend-mind-in-peace-15ml?u=ligiavalle" class="btn btn-primary btn-lg btn-luciluci"  role="button" target="_blank">Compre agora</a></p>
    </div>
</div>
