<!-- Omega3 -->
<div class="thumbnail">
    <img src="/assets/img/products/luciluci/omega3.jpg" alt="Vitae Ômega 3 1000MG 60 CAP">
    <div class="caption">
        <h3>Vitae Ômega 3<span class="badge label-success pull-right"> 60 cap </span> </h3>
        <p>Suplemento  Ômega 3 1000mg.</p>
        <p class="text-center"><a href="https://loja.luciluci.com.br/produto/vitae-omega-3-1000mg-60-cap?u=ligiavalle" class="btn btn-primary btn-lg btn-luciluci"  role="button" target="_blank">Descubra mais</a></p>
    </div>
</div>