<!-- Omega3 -->
<div class="thumbnail">
    <img src="/assets/img/products/luciluci/q10.webp" alt="Vitae Coenzima Q10 60 CAP">
    <div class="caption">
        <h3>Vitae Coenzima Q10<span class="badge label-success pull-right"> 60 cap </span> </h3>
        <p>Suplemento  Coenzima Q10.</p>
        <p class="text-center"><a href="https://loja.luciluci.com.br/produto/vitae-coenzima-q10-colageno-hidrolisado-60-cap?u=ligiavalle" class="btn btn-primary btn-lg btn-luciluci"  role="button" target="_blank">Compre agora</a></p>
    </div>
</div>