<!-- Serene and Sleep -->
<div class="thumbnail">
    <img src="/assets/img/products/luciluci/serene-sleep.jpg" alt="Serene and Sleep">
    <div class="caption">
        <h3>Serene and Sleep<span class="badge label-success pull-right"> 30 cap </span> </h3>
        <p>Suplemento de Melatonina e Triptofano.</p>
        <p class="text-center"><a href="https://loja.luciluci.com.br/produto/serene-and-sleep-30-capsulas?u=ligiavalle" class="btn btn-primary btn-lg btn-luciluci"  role="button" target="_blank">Descubra mais</a></p>
    </div>
</div>
