<!-- BREATHE WELL -->
<div class="thumbnail">
    <img src="/assets/img/products/luciluci/smart-and-smile.jpg" alt="ESSENCIAL OIL BLEND - SMART AND SMILE">
    <div class="caption">
        <h3>Smart and Smile<span class="badge label-success pull-right"> 15ml </span> </h3>
        <p>Essencial oil</p>
        <p class="text-center"><a href="https://loja.luciluci.com.br/produto/essencial-oil-blend-smart-smile-15ml?u=ligiavalle" class="btn btn-primary btn-lg btn-luciluci"  role="button" target="_blank">Compre agora</a></p>
    </div>
</div>
