<!-- Serene and Sleep -->
<div class="thumbnail">
    <img src="/assets/img/products/luciluci/vitae-immunity-complex%.webp" alt="Vitae Immunity Complex">
    <div class="caption">
        <h3>Vitae Immunity Complex<span class="badge label-success pull-right"> 30 cap </span> </h3>
        <p></p>
        <p class="text-center"><a href="https://loja.luciluci.com.br/produto/vitae-immunity-complex-30-cap?u=ligiavalle" class="btn btn-primary btn-lg btn-luciluci"  role="button" target="_blank">Compre agora</a></p>
    </div>
</div>
