<div class="widget widget-recent-posts">
    <h4 class="widget-title">Contate-me</h4>

    <div class="well">
        <p>Se você tiver dúvidas sobre os tópicos deste site ou precisar de informações adicionais sobre os produtos,
            ou quiser que eu escreva sobre um tópico específico, sinta-se à vontade para deixar uma mensagem.Responderei assim que puder.
        </p>
        <p class="text-center"><a href="https://forms.gle/spiaewruzJtSCajV8" class="btn btn-primary btn-lg btn-behive"  role="button" target="_blank">Contato</a></p>
    </div>

</div>
