    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
    <meta name="keywords"  content="Ligia Lustosa, Ligia Valle, Ligia Lustosa do Valle, Saúde , Beleza,  Curitiba">


    <!-- css -->
    <!--link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"-->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<!--    <link rel="stylesheet" href="/assets/css/ionicons.min.css">-->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/pace.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <!--link rel="stylesheet" href="/assets/css/mediaelementplayer.css"-->

    <!-- js -->
    <script src="/assets/js/jquery-2.2.4.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/pace.min.js"></script>
    <script src="/assets/js/modernizr.custom.js"></script>
    <!--script src="/assets/js/lunr.min.js"></script-->
    <!--script src="/assets/js/mediaelement-and-player.min.js"></script-->

    <!-- favicon stuff -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/icons/site.webmanifest">
    <link rel="shortcut icon" href="/assets/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:locale" content="pt_BR"/>
    {% if page.image %}<meta property="og:image" content="{{ page.image }}"/>{% endif %}
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    <meta property="og:image" content="{{ site.url }}{{ page.image }}"/>
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:description" content="{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}"/>
    <meta property="og:type" content="article">
    <meta property='article:author' content='https://www.facebook.com/ligia.valle.925' />
    <meta property='article:publisher' content='https://www.facebook.com/ligia.valle.925' />


    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.twitter_url }}">
    <meta name="twitter:title" content="{{ page.title }}" />
    {% if page.image %}<meta name="twitter:image" content="{{ site.url }}{{ page.image }}" />{% endif %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
    <meta name="twitter:description" content="{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}" />

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ "/sitemap.xml" | prepend: site.baseurl | prepend: site.url }}" />