<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="/index.html">Blog</a></li>
            <li><a href="/about.html">Sobre Mim</a></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfiqIPn5CAowA-mx8QRb9xJj-VQflqBYs1sQFWark_9y92lCQ/viewform?vc=0&c=0&w=1&flr=0" target="_blank">
                Contato
            </a>
            </li>
<!--            <li><a href="/search.html">Buscar</a></li>-->
        </ul>
    </nav>
</div>