{% if page.recommended != "None" %}

<div class="widget widget-recent-posts">
    <h3 class="widget-title">Recomendado</h3>

    {% if page.recommended == "Smart Active Collagen" %}
        {% include products/hive/collagene-smart-active.html %}
    {% elsif page.recommended == "Prebiotic Collagen" %}
        {% include products/hive/collagene-prebiotic.html %}
    {% elsif page.recommended == "Nimbus" %}
    <div  id="nimbus" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                {% include products/hive/nimbus-tea.html %}
            </div>
            <div class="item">
                {% include products/hive/nimbus-milk.html %}
            </div>
        </div>

    </div>
    {% elsif page.recommended == "Omega3" %}
    <div  id="omega" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                {% include products/amazon/omega-3-capsulas.html %}
            </div>
        </div>

    </div>
    {% elsif page.recommended == "Skin" %}
    <div  id="skin" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                {% include products/hive/skn_cleanser.html %}
            </div>
            <div class="item">
                {% include products/hive/skn_antiaging_serum.html %}
            </div>
            <div class="item">
                {% include products/hive/nimbus-milk.html %}
            </div>

        </div>

    </div>
    {% elsif page.recommended == "Serum" %}
        {% include products/hive/skn_antiaging_serum.html %}
    {% elsif page.recommended == "Spark" %}
        {% include products/hive/hyper-spark.html %}
    {% elsif page.recommended == "Beta" %}
        {% include products/hive/hyper-beta.html %}
    {% elsif page.recommended == "Creatina" %}
        {% include products/hive/hyper-creatina.html %}
    {% elsif page.recommended == "Antiox" %}
        {% include products/hive/morning-antiox-shot.html %}
    {% elsif page.recommended == "Fluid" %}
        {% include products/hive/hyper-fluid.html %}
    {% elsif page.recommended == "Q10" %}
        {% include products/amazon/q10-capsulas.html %}
    {% elsif page.recommended == "alho-amazon" %}
        {% include products/amazon/alho-capsulas.html %}
    {% elsif page.recommended == "NimbusApp" %}
        {% include products/hive/nimbus-app.html %}
    {% elsif page.recommended == "Matcha" %}
    <!--  carousel -->
    <div id="matcha" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                {% include products/hive/looseit-slim-tea.html   %}
            </div>
            <div class="item">
                {% include products/amazon/blender-bottle.html   %}
            </div>
            <div class="item">
                {% include products/amazon/mini-mixer.html   %}
            </div>
        </div>
    </div>
    {% elsif page.recommended == "Agua" %}
    <!--  carousel -->
    <div id="agua" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                {% include products/amazon/purificador-de-agua-portatil.html   %}
            </div>
            <div class="item">
                {% include products/amazon/purificador-de-agua-consul.html   %}
            </div>
        </div>
    </div>

    {% else %}
    <!--  carousel -->
    <div id="reskin" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                {% include products/hive/collagene-prebiotic.html %}
            </div>
            <div class="item">
                {% include products/hive/collagene-smart-active.html %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}