<div class="widget widget-recent-posts">
    <h4 class="widget-title">Recomendado</h4>

    {% if page.recommended == "Smart Active Collagen" %}
    <div class="thumbnail">
        <img src="/assets/img/reskin.jpg"  alt="Smart Active Collagen">
        <div class="caption">
            <h4>Smart Active Collagen<span class="badge pull-right"> 210g </span> </h4>
            <p>Bebida rejuvenescedora com colágeno Verisol®</p>
            <p class="text-center"><a href="https://behive.global/produtos/reskin/smart-active-collagen-pink-lemonade-210g?loja=/ligiavalle&" class="btn btn-primary" style="background-color: #2a7ae2" role="button" target="_blank">Descubra mais</a></p>
        </div>
    </div>

    {% elsif page.recommended == "Prebiotic Collagen" %}
    <div class="thumbnail">
        <img src="/assets/img/prebiotic.jpg"  alt="Prebiotic Collagen">
        <div class="caption">
            <h4>Prebiotic Collage<span class="badge pull-right"> 270g </span> </h4>
            <p>Bebida rejuvenescedora com colágeno Verisol®</p>
            <p class="text-center"><a href="https://behive.global/produtos/reskin/prebiotic-collagen-tangerina-270g?loja=/ligiavalle&" class="btn btn-primary" style="background-color: #2a7ae2" role="button" target="_blank">Descubra mais</a></p>
        </div>
    </div>
    {% elsif page.recommended == "Nimbus" %}
    <div  id="nimbus" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="thumbnail">
                    <img src="/assets/img/nimbus-tea.jpg"  alt="Moon Tea">
                    <div class="caption">
                        <h4>Moon Tea<span class="badge pull-right"> 300g </span> </h4>
                        <p>Suplemento de melatonina e triptofano, <strong>sabor maracujá e camomila</strong>.</p>
                        <p class="text-center"><a href="https://behive.global/produtos/nimbus/moon-tea-maracuja-camomila-300g?loja=/ligiavalle&" class="btn btn-primary" style="background-color: #2a7ae2" role="button" target="_blank">Descubra mais</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="thumbnail">
                    <img src="/assets/img/nimbus-milk.jpg"  alt="Moon Milk">
                    <div class="caption">
                        <h4>Moon Milk<span class="badge pull-right"> 300g </span> </h4>
                        <p>Suplemento de melatonina e triptofano, <strong>sabor chocolate</strong>.</p>
                        <p class="text-center"><a href="https://behive.global/produtos/nimbus/moon-milk-chocolate-300g?loja=/ligiavalle&" class="btn btn-primary" style="background-color: #2a7ae2" role="button" target="_blank">Descubra mais</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% else %}
    <div id="reskin" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="thumbnail">
                    <img src="/assets/img/prebiotic.jpg"  alt="Prebiotic Collagen">
                    <div class="caption">
                        <h4>Prebiotic Collagem<span class="badge pull-right"> 270g </span> </h4>
                        <p>Bebida rejuvenescedora com colágeno Verisol®</p>
                        <p class="text-center"><a href="https://behive.global/produtos/reskin/prebiotic-collagen-tangerina-270g?loja=/ligiavalle&" class="btn btn-primary" style="background-color: #2a7ae2" role="button" target="_blank">Descubra mais</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="thumbnail">
                    <img src="/assets/img/reskin.jpg"  alt="Smart Active Collagen">
                    <div class="caption">
                        <h4>Smart Active Collagen<span class="badge pull-right"> 210g </span> </h4>
                        <p>Bebida rejuvenescedora com colágeno Verisol®</p>
                        <p class="text-center"><a href="https://behive.global/produtos/reskin/smart-active-collagen-pink-lemonade-210g?loja=/ligiavalle&" class="btn btn-primary" style="background-color: #2a7ae2" role="button" target="_blank">Descubra mais</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="thumbnail">
                    <img src="/assets/img/vitae.jpg"  alt="Vitae">
                    <div class="caption">
                        <h4>Vitae<span class="badge pull-right"> 270g </span> </h4>
                        <p>Beauty Drink Colágeno Verisol® (Sabor frutas vermelhas)</p>
                        <p class="text-center"><a href="https://loja.luciluci.com.br/produto/beauty-drink-colageno-verisol-270g-sabor-frutas-vermelhas" class="btn btn-primary" style="background-color: #2a7ae2" role="button" target="_blank">Descubra mais</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endif %}
</div>
