<div class="widget">
    <h4 class="widget-title text-center">Mantenha contato nas redes sociais</h4>
    <ul class="social" style="padding-top: 20px">
    <li class="facebook"><a href="https://www.facebook.com/ligia.valle.925" aria-label="My Facebook profile" target="_blank"><span class="ion-social-facebook"></span></a></li>
    <li class="twitter"><a href="https://twitter.com/LigiaRLValle" target="_blank" aria-label="My Twitter profile"><span class="ion-social-twitter"></span></a></li>
    <li class="twitter"><a href="https://www.linkedin.com/in/ligia-valle-8865a83a/" aria-label="My Linkedin profile" target="_blank"><span class="ion-social-linkedin"></span></a></li>
    <li class="twitter"><a href="https://www.instagram.com/ligiadovalle/" aria-label="My Instagram profile" target="_blank"><span class="ion-social-instagram-outline"></span></a></li>
    </ul>
</div>


