<div class="widget widget-recent-posts widget-random">
    <h3 class="widget-title">Coisas que amo</h3>
    <div class="thumbnail">
        <img src="/assets/img/love/curitiba-2690289_1280.jpg" alt="Curitiba">
        <div style="position: relative;display: block;">
            <div style="position: absolute;right: 0;bottom: 0px;padding: 1%;width: 100%;color: #fff;background: rgba(0, 0, 0, 0.0);text-align: right">
                <small class="text-right">Imagem de
                    <a class="pixabay-link" href="https://pixabay.com/users/rodrigomullercwb-6282127/ " target="_blank">Rodrigo M</a>
                    por Pixabay</small>
            </div>
        </div>

        <div class="caption">
            <h3>Curitiba</h3>
            <p>Amo minha linda cidade!</p>
        </div>
    </div>
</div>
<div class="widget widget-recent-posts widget-random">
    <h3 class="widget-title">Coisas que amo</h3>
    <div class="thumbnail">
        <img src="/assets/img/love/pexels-paulo-freitas-14547115.jpg" alt="Curitiba">
        <div style="position: relative;display: block;">
            <div style="position: absolute;right: 0;bottom: 0px;padding: 1%;width: 100%;color: #fff;background: rgba(0, 0, 0, 0.0);text-align: right">
                <small class="text-right">Imagem de
                    <a class="pixabay-link" href="https://www.pexels.com/photo/catedral-basilica-menor-de-nossa-senhora-da-luz-dos-pinhais-14547115// " target="_blank">Paulo Freitas</a>
                    por Pexels</small>
            </div>
        </div>

        <div class="caption">
            <h3>Curitiba</h3>
            <p>Amo minha linda cidade!.</p>
        </div>
    </div>
</div>
<div class="widget widget-recent-posts widget-random">
    <h3 class="widget-title">Coisas que amo</h3>
    <div class="thumbnail">
        <img src="/assets/img/love/araucaria-8270887_1280.jpg" alt="Araucárias">
        <div style="position: relative;display: block;">
            <div style="position: absolute;right: 0;bottom: 0px;padding: 1%;width: 100%;color: #fff;background: rgba(0, 0, 0, 0.0);text-align: right">
                <small class="text-right">Imagem de
                    <a class="pixabay-link" href="https://pixabay.com/pt/users/ligiavalle-39619931/" target="_blank">Ligia</a> por Pixabay</small>
            </div>
        </div>
        <div class="caption">
            <h3>Árvores</h3>
            <p><strong>Araucárias</strong>, erguem-se majestosas, contando histórias de gerações e abraçando nosso céu.
            </p>
        </div>
    </div>
</div>
<div class="widget widget-recent-posts widget-random">
    <h3 class="widget-title">Coisas que amo</h3>
    <div class="thumbnail">
        <img src="/assets/img/love/araucaria-8270889_1280.jpg" alt="Araucárias">
        <div style="position: relative;display: block;">
            <div style="position: absolute;right: 0;bottom: 0px;padding: 1%;width: 100%;color: #fff;background: rgba(0, 0, 0, 0.0);text-align: right">
                <small class="text-right">Imagem de
                    <a class="pixabay-link" href="https://pixabay.com/pt/users/ligiavalle-39619931/" target="_blank">Ligia</a> por Pixabay</small>
            </div>
        </div>
        <div class="caption">
            <h3>Árvores</h3>
            <p><strong>Araucárias</strong>, erguem-se majestosas, contando histórias de gerações e abraçando nosso céu.
            </p>
        </div>
    </div>
</div>
<!--<div class="widget widget-recent-posts widget-random">-->
<!--    <h3 class="widget-title">Coisas que amo</h3>-->
<!--    <div class="thumbnail">-->
<!--        <img src="/assets/img/love/luninha.jpg" alt="Smart Active Collagen">-->
<!--        <div style="position: relative;display: block;">-->
<!--            <div style="position: absolute;right: 0;bottom: 0px;padding: 1%;width: 100%;color: #fff;background: rgba(0, 0, 0, 0.0);text-align: right">-->
<!--                <small class="text-right">Imagem de <a class="pixabay-link" href="https://pixabay.com/pt/users/ligiavalle-39619931/" target="_blank">LigiaValle</a> por Pixabay</small>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="caption">-->
<!--            <h3>Luna</h3>-->
<!--            <p>Adoro meu gatinho! Cada ronronar, cada brincadeira, cada olhar curioso. Ele é mais que um pet, é parte da família. </p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
