<div class="widget widget-recent-posts widget-random">
    <h2 class="widget-title">Coisas que amo</h2>
    <div class="thumbnail">
        <img width="350px" height="500px" src="/assets/img/love/curitiba-2690289_1280.webp" alt="Curitiba">
        <div style="position: relative;display: block;">
            <div style="position: absolute;right: 0;bottom: 0px;padding: 1%;width: 100%;color: #fff;background: rgba(0, 0, 0, 0.0);text-align: right">
                <small class="text-right">Imagem de
                    <a class="pixabay-link" href="https://pixabay.com/users/rodrigomullercwb-6282127/ " target="_blank">Rodrigo M</a>
                    por Pixabay</small>
            </div>
        </div>
        <div class="caption">
            <h3>Curitiba</h3>
            <p>Amo minha linda cidade!</p>
        </div>
    </div>
</div>
<div class="widget widget-recent-posts widget-random">
    <h3 class="widget-title">Coisas que amo</h3>
    <div class="thumbnail">
        <img width="350px" height="500px" src="/assets/img/love/pexels-paulo-freitas-14547115.webp" alt="Curitiba">
        <div style="position: relative;display: block;">
            <div style="position: absolute;right: 0;bottom: 0px;padding: 1%;width: 100%;color: #fff;background: rgba(0, 0, 0, 0.0);text-align: right">
                <small class="text-right">Imagem de
                    <a class="pixabay-link" href="https://www.pexels.com/photo/catedral-basilica-menor-de-nossa-senhora-da-luz-dos-pinhais-14547115// " target="_blank">Paulo Freitas</a>
                    por Pexels</small>
            </div>
        </div>

        <div class="caption">
            <h3>Curitiba</h3>
            <p>Amo minha linda cidade!</p>
        </div>
    </div>
</div>
<div class="widget widget-recent-posts widget-random">
    <h3 class="widget-title">Coisas que amo</h3>
    <div class="thumbnail">
        <img width="350px" height="500px" src="/assets/img/love/araucaria-8270887_1280.webp" alt="Araucárias">
        <div style="position: relative;display: block;">
            <div style="position: absolute;right: 0;bottom: 0px;padding: 1%;width: 100%;color: #fff;background: rgba(0, 0, 0, 0.0);text-align: right">
                <small class="text-right">Imagem de
                    <a class="pixabay-link" href="https://pixabay.com/pt/users/ligiavalle-39619931/" target="_blank">Ligia</a> por Pixabay</small>
            </div>
        </div>
        <div class="caption">
            <h3>Árvores</h3>
            <p><strong>Araucárias</strong>, erguem-se majestosas, contando histórias de gerações e abraçando nosso céu.
            </p>
        </div>
    </div>
</div>
<div class="widget widget-recent-posts widget-random">
    <h3 class="widget-title">Coisas que amo</h3>
    <div class="thumbnail">
        <img src="/assets/img/love/araucaria-8270889_1280.webp" alt="Araucárias">
        <div style="position: relative;display: block;">
            <div style="position: absolute;right: 0;bottom: 0px;padding: 1%;width: 100%;color: #fff;background: rgba(0, 0, 0, 0.0);text-align: right">
                <small class="text-right">Imagem de
                    <a class="pixabay-link" href="https://pixabay.com/pt/users/ligiavalle-39619931/" target="_blank">Ligia</a> por Pixabay</small>
            </div>
        </div>
        <div class="caption">
            <h3>Árvores</h3>
            <p><strong>Araucárias</strong>, erguem-se majestosas, contando histórias de gerações e abraçando nosso céu.
            </p>
        </div>
    </div>
</div>
<div class="widget widget-recent-posts widget-random">
    <h3 class="widget-title">Coisas que amo</h3>
    <div class="thumbnail">
        <img width="350px" height="500px" src="/assets/img/love/pexels-nicole-queiroz-11388725.webp" alt="Cafezinho">
        <div style="position: relative;display: block;">
            <div style="position: absolute;right: 0;bottom: 0px;padding: 1%;width: 100%;color: #fff;background: rgba(0, 0, 0, 0.0);text-align: right">
                <small class="text-right">Imagem de
                    <a class="pixabay-link" href="https://www.pexels.com/@nicole-queiroz-156397350/" target="_blank">Nicole Q
                    </a> por Pexel</small>
            </div>
        </div>
        <div class="caption">
            <h3>Café</h3>
            <p>Não fico sem meu cafezinho!
            </p>
        </div>
    </div>
</div>
<div class="widget widget-recent-posts widget-random">
    <h3 class="widget-title">Coisas que amo</h3>
    <div class="thumbnail">
        <img width="350px" height="250px" src="/assets/img/love/pexels-abner-lobo-15420630-1.webp" alt="Universidade">
        <div style="position: relative;display: block;">
            <div style="position: absolute;right: 0;bottom: 0px;padding: 1%;width: 100%;color: #fff;background: rgba(0, 0, 0, 0.0);text-align: right">
                <small class="text-right">Imagem de
                    <a class="pixabay-link" href="https://www.pexels.com/@abnerlobo/" target="_blank">Abner Lobo</a> por Pexel</small>
            </div>
        </div>
        <div class="caption">
            <h3>Universidade Federal do Paraná</h3>
            <p>Aqui obtive minha formação profissional. Gratidão aos excelentes mestres!
            </p>
        </div>
    </div>
</div>
<div class="widget widget-recent-posts widget-random">
    <h3 class="widget-title">Coisas que amo</h3>
    <div class="thumbnail">
        <img width="350px" height="250px" src="/assets/img/love/pexels-ligia-valle-18610350.webp" alt="Capivaras">
        <div style="position: relative;display: block;">
            <div style="position: absolute;right: 0;bottom: 0px;padding: 1%;width: 100%;color: #fff;background: rgba(0, 0, 0, 0.0);text-align: right">
                <small class="text-right">Imagem de
                    <a class="pixabay-link" href="https://www.pexels.com/photo/capybara-capivara-18610350/" target="_blank">Ligia</a> por Pexel</small>
            </div>
        </div>
        <div class="caption">
            <h3>Capivaras</h3>
            <p>As capivaras me encantam com sua natureza serena e social, sempre reunindo-se às margens dos rios.
                São vistas nos parques de Curitiba, em harmonia com a natureza e sua aparência
                dócil torna impossível não sorrir ao vê-las.
            </p>
        </div>
    </div>
</div>
<!--<div class="widget widget-recent-posts widget-random">-->
<!--    <h3 class="widget-title">Coisas que amo</h3>-->
<!--    <div class="thumbnail">-->
<!--        <img src="/assets/img/love/luninha.jpg" alt="Smart Active Collagen">-->
<!--        <div style="position: relative;display: block;">-->
<!--            <div style="position: absolute;right: 0;bottom: 0px;padding: 1%;width: 100%;color: #fff;background: rgba(0, 0, 0, 0.0);text-align: right">-->
<!--                <small class="text-right">Imagem de <a class="pixabay-link" href="https://pixabay.com/pt/users/ligiavalle-39619931/" target="_blank">LigiaValle</a> por Pixabay</small>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="caption">-->
<!--            <h3>Luna</h3>-->
<!--            <p>Adoro meu gatinho! Cada ronronar, cada brincadeira, cada olhar curioso. Ele é mais que um pet, é parte da família. </p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
