<!-- Prebiotic Collagen -->
<div class="thumbnail">
    <img src="/assets/img/products/amazon/alho-amazon.webp" alt="Alho Capsulas">
    <div class="caption">
        <h3>Óleo de Alho<span class="badge label-success pull-right"> 60 cap </span> </h3>
        <p>Cápsulas com 500mg de Óleo de Alho Desodorizado</p>
        <p class="text-center">
            <a target="_blank" href="https://www.amazon.com.br/Oleo-Alho-Desodorizado-Capsulas-Catarinense/dp/B0CG6HQVSV/ref=sr_1_4?crid=3PGRI22TAKFYS&amp;keywords=capsula+oleo+de+alho+desodorizado&amp;qid=1700861622&amp;sprefix=capsula+de+alho%252Caps%252C216&amp;sr=8-4&_encoding=UTF8&tag=brilhointerio-20&linkCode=ur2&linkId=c66487abaa8405de92a9426b02c72222&camp=1789&creative=9325">
                <img src="/assets/img/products/amazon/amazon-btn.png"/>
            </a>
        </p>
    </div>
</div>
