<!-- Omega3 -->
<div class="thumbnail">
    <img src="/assets/img/products/amazon/b12-amazon.webp" alt="Vitamina B12 60 Cápsulas ">
    <div class="caption">
        <h3>Vitamina B12<span class="badge label-success pull-right"> 60 cap </span> </h3>
        <p>Vitamina B12 60 Cápsulas.</p>
        <p class="text-center">
            <a href="https://www.amazon.com.br/Nutrify-Vitaminas-Complexo-Vitamina-C%C3%A1psulas/dp/B0859GFN9C?crid=2NPFU3FQ35NVA&dib=eyJ2IjoiMSJ9.w3ytbZPg3ziGv2F_juQkDwyZjny8ygCpQ0TsE8-LlAbzjqzkXUm7aMW9tbtW378J1iFsvt6MIuiq2C3ue4akeJqFsB5PfkS6OIe4Cji2VXfnwTP--hC9evLE6tFPe9hxPXW_q0IbqIzp_oAee31ZWEoMWpUbq9B9HA89AXwqxCIXMQO0zKZSSU5yOd6Pa0aguRlNEV_OO2fXXsbj_R4Po4Zf8sFo8dV9HP8n0yACVm--Z3fgwbUyFpDvbGh4o3ab6kH9fPuILBJU8ea21Oih5N7_DU9vzkHpUOrD1r6vT64.O-Z6oFbtDxAgObdW5_VCm3fUBPVCKOxIYAT-mRccXaE&dib_tag=se&keywords=vitamina%2Bb12&qid=1713305831&sprefix=vitamina%2Bb%2Caps%2C210&sr=8-5&th=1&linkCode=sl1&tag=brilhointerio-20&linkId=3a7e15a9037e5c90adf73ae96a5edd6a&language=pt_BR&ref_=as_li_ss_tl"  target="_blank">
                <img src="/assets/img/products/amazon/amazon-btn.png"/>
            </a>
        </p>
    </div>
</div>