<!-- Prebiotic Collagen -->
<div class="thumbnail">
    <img src="/assets/img/products/amazon/blender-bottle.webp" alt="Garrafa de Coqueteleira Clássica">
    <div class="caption">
        <h3>Garrafa de Coqueteleira<span class="badge label-success pull-right"> 590 ml </span> </h3>
        <p>Garrafa de Coqueteleira Clássica com Laço na Parte Superior</p>
        <p class="text-center">
            <a target="_blank" href="https://www.amazon.com.br/BlenderBottle-Garrafa-Coqueteleira-Cl%25C3%25A1ssica-Superior/dp/B01LZ2UP91/ref=sr_1_13?__mk_pt_BR=%25C3%2585M%25C3%2585%25C5%25BD%25C3%2595%25C3%2591&amp;crid=3P3O3A846BTEB&amp;keywords=shakeira&amp;qid=1702329268&amp;sprefix=shakeira%252Caps%252C216&amp;sr=8-13&amp;th=1&_encoding=UTF8&tag=brilhointerio-20&linkCode=ur2&linkId=453aa8432a90d2fc137c0480f879a24d&camp=1789&creative=9325">
                <img src="/assets/img/products/amazon/amazon-btn.png"/>
            </a>
        </p>
    </div>
</div>
