
<!-- magnesio -->
<div class="thumbnail">
    <img src="/assets/img/products/amazon/magnesio-amazon.webp" alt="Magnesio 120 CAP">
    <div class="caption">
        <h3>Magnesio<span class="badge label-success pull-right"> 120 cap </span> </h3>
        <p>Suplemento  Magnésio Glicina, Dimalato, Citrato, Taurato, Vitamina D3.</p>
        <p class="text-center">
            <a href="https://www.amazon.com.br/Magn%25C3%25A9sio-Glicina-Dimalato-Vitamina-c%25C3%25A1psulas/dp/B0BL1YYCTK/ref=sr_1_1_sspa?__mk_pt_BR=%25C3%2585M%25C3%2585%25C5%25BD%25C3%2595%25C3%2591&amp=undefined&crid=MZXH4WO3OFQR&dib=eyJ2IjoiMSJ9.A83ew_kR6EyExcvZ1HEgBsnnFJ5s71QKXFGZHH0Mz3e8JCdBVOy1TxhJ6-yISNUnX6PaGbtCDjmjF5e-xj2n84j_ZEiOfGTYbbxd93S2MFrJJqDPeleHAG4pfTCiP6CEpaUIKjHMvuH-1c16rjFBo5a5aYVJOuEExT7yW3D2iSPty3tkfUxTH4lMOh6V-slEUdvjYfczhJRQlDXow1NE9r4nm32_TtJZFxU1VFRvxK87hOBffhZpdl-sqkUouprjfLKcySOjZ2qVGd-w7m8rxK6mTpc_rWNohiOm1A6IsRE.leX3mTkJCeEJP3sqCA_3qr5Puz4lvkYi43lZKM9XETY&dib_tag=se&keywords=MAGNESIO&qid=1710247520&sprefix=magnesio%252Caps%252C217&sr=8-1-spons&ufe=app_do%253Aamzn1.fos.6d798eae-cadf-45de-946a-f477d47705b9&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&th=1&_encoding=UTF8&tag=brilhointerio-20&linkCode=ur2&linkId=dee28e19e2864d9acce1282d2e4ad6a6&camp=1789&creative=9325"  target="_blank">
                <img src="/assets/img/products/amazon/amazon-btn.png"/>
            </a>
        </p>
    </div>
</div>