<!-- Prebiotic Collagen -->
<div class="thumbnail">
    <img src="/assets/img/products/amazon/mini-mixer.webp" alt="Mini Mixer Misturador Batedor de Bebidas">
    <div class="caption">
        <h3>Mini Mixer<span class="badge label-success pull-right">Recarregávelyr</span> </h3>
        <p>Mixer versátil ideal para preparar bebidas cremosas</p>
        <p class="text-center">
            <a target="_blank" href="https://www.amazon.com.br/Misturador-Port%2525C3%2525A1til-Recarreg%2525C3%2525A1vel-LAGUS-IMP/dp/B0CN2TFHTM/ref=sr_1_6?crid=7AURM5ZILL5T&amp;keywords=mixer+portatil&amp;qid=1702328256&amp;sprefix=mixer%25252Caps%25252C212&amp;sr=8-6&_encoding=UTF8&tag=brilhointerio-20&linkCode=ur2&linkId=f43afd2fdb897240d04e994aa250325a&camp=1789&creative=9325">
                <img src="/assets/img/products/amazon/amazon-btn.png"/>
            </a>
        </p>
    </div>
</div>
