<!-- Prebiotic Collagen -->
<div class="thumbnail">
    <img src="/assets/img/products/amazon/omega-3-amazon.webp" alt="Omega-3 Capsulas">
    <div class="caption">
        <h3>Óleo de peixe<span class="badge label-success pull-right"> 120 cap </span> </h3>
        <p>Ômega 3 Nutrição com 1000mg de óleo de peixe, sendo que em três cápsulas contém 540mg EPA e 360mg DHA</p>
        <p class="text-center">
            <a target="_blank" href="https://www.amazon.com.br/%2525C3%252594mega-1000mg-caps-Pacote-Transl%2525C3%2525BAcido/dp/B08MY5ZQ1N/ref=sr_1_9?crid=1F4IQZEROYVQ2&amp;keywords=%2525C3%2525B4mega+3&amp;qid=1704128839&amp;sprefix=%25252Caps%25252C219&amp;sr=8-9&_encoding=UTF8&tag=brilhointerio-20&linkCode=ur2&linkId=d065c21ab5ea087525a20fb852d3270c&camp=1789&creative=9325">
                <img src="/assets/img/products/amazon/amazon-btn.png"/>
            </a>
        </p>
    </div>
</div>
