
<div class="thumbnail">
    <img src="/assets/img/products/amazon/purificador-de-agua-consul.webp" alt="Purificador de Água Portátil Europa">
    <div class="caption">
        <h3>Purificador de Água<span class="badge label-success pull-right"> 1.5 Liter </span> </h3>
        <p></p>
        <p class="text-center">
            <a target="_blank" href="https://www.amazon.com.br/Purificador-Compacto-Consul-CPC31ABONA-Branco/dp/B07B1CRMZG/ref=sr_1_8?crid=XB5LQBJ0Y3US&amp=undefined&keywords=purificador%252Bde%252Bagua%252Beletrolux&qid=1706045060&sprefix=purific%252Caps%252C212&sr=8-8&ufe=app_do%253Aamzn1.fos.db68964d-7c0e-4bb2-a95c-e5cb9e32eb12&th=1&_encoding=UTF8&tag=brilhointerio-20&linkCode=ur2&linkId=9400f6f895d5f6c85eb8aa2e0ed344b1&camp=1789&creative=9325">
                <img src="/assets/img/products/amazon/amazon-btn.png"/>
            </a>
        </p>
    </div>
</div>
