
<div class="thumbnail">
    <img src="/assets/img/products/amazon/purificador-de-agua-portatil.webp" alt="Purificador de Água Portátil Europa">
    <div class="caption">
        <h3>Purificador de Água<span class="badge label-success pull-right"> 1 Liter </span> </h3>
        <p></p>
        <p class="text-center">
            <a target="_blank" href="https://www.amazon.com.br/Purificador-Port%25C3%25A1til-Europa-MOV-Gelo/dp/B07V2W9WZ7/ref=sr_1_8?__mk_pt_BR=%25C3%2585M%25C3%2585%25C5%25BD%25C3%2595%25C3%2591&amp;keywords=purificador+de+agua&amp;qid=1706044724&amp;s=kitchen&amp;sr=1-8&amp;ufe=app_do%253Aamzn1.fos.6d798eae-cadf-45de-946a-f477d47705b9&_encoding=UTF8&tag=brilhointerio-20&linkCode=ur2&linkId=7d5b3e83f520c7de98595f80ea07202c&camp=1789&creative=9325">
                <img src="/assets/img/products/amazon/amazon-btn.png"/>
            </a>
        </p>
    </div>
</div>
