<!-- Omega3 -->
<div class="thumbnail">
    <img src="/assets/img/products/amazon/q10-amazon.webp" alt="Vitae Coenzima Q10 30 CAP">
    <div class="caption">
        <h3>Coenzima Q10<span class="badge label-success pull-right"> 30 cap </span> </h3>
        <p>Suplemento  Coenzima Q10.</p>
        <p class="text-center">
            <a href="https://www.amazon.com.br/Coenzima-Q10-100mg-C%25C3%25A1psulas-Catarinense/dp/B07ZHK7YHC/ref=sr_1_30?__mk_pt_BR=%25C3%2585M%25C3%2585%25C5%25BD%25C3%2595%25C3%2591&amp;crid=3C4KFXHH9FUUM&amp;keywords=Coenzima+Q10&amp;qid=1704129523&amp;sprefix=coenzima+q10%252Caps%252C213&amp;sr=8-30&_encoding=UTF8&tag=brilhointerio-20&linkCode=ur2&linkId=4e9d947ce5a2d11d9533f19463feba82&camp=1789&creative=9325"  target="_blank">
                <img src="/assets/img/products/amazon/amazon-btn.png"/>
            </a>
        </p>
    </div>
</div>