<!-- Smart Active Collagen -->
<div class="thumbnail">
    <img src="/assets/img/products/hive/collagene-smart-active.jpg" alt="Smart Active Collagen">
    <div class="caption">
        <h3>Smart Active Collagen<span class="badge label-success pull-right"> 210g </span> </h3>
        <p>Bebida rejuvenescedora com colágeno Verisol®</p>
        <p class="text-center">
            <a href="https://behive.global/produtos/reskin/smart-active-collagen-pink-lemonade-210g?loja=/ligiavalle&" class="btn btn-primary btn-lg btn-behive"  role="button" target="_blank">Descubra mais</a>
        </p>
    </div>
</div>