<!-- Hyper Creatina -->
<div class="thumbnail">
    <img src="/assets/img/products/hive/hyper-creatina.jpg" alt="Creatina 300g">
    <div class="caption">
        <h3>Creatina<span class="badge label-success pull-right"> 300g </span> </h3>
        <p>Creatina 100% Pura, Monohidratada.</p>
        <p class="text-center"><a href="https://behive.global/produtos/hyper/creatina-300g?loja=/ligiavalle&" class="btn btn-primary btn-lg btn-behive"  role="button" target="_blank">Descubra mais</a></p>
    </div>
</div>