<!-- Hyper Spark -->
<div class="thumbnail">
    <img src="/assets/img/products/hive/hyper-beta.jpg" alt="Suplemento Pré Treino 300g">
    <div class="caption">
        <h3>Beta-alanina<span class="badge label-success pull-right"> 300g </span> </h3>
        <p>Suplemento Pré Treino.</p>
        <p class="text-center"><a href="https://behive.global/produtos/hyper/beta-alanina-300g?loja=/ligiavalle&" class="btn btn-primary btn-lg btn-behive"  role="button" target="_blank">Descubra mais</a></p>
    </div>
</div>