<!-- Morning Antiox Shot -->
<div class="thumbnail">
    <img src="/assets/img/products/hive/morning-antiox-shot.jpg" alt="Morning Antiox Shot 150g">
    <div class="caption">
        <h3>Morning Antiox Shot<span class="badge label-success pull-right"> 150g </span> </h3>
        <p>Bebida com ativos antioxidantes e anti-inflamatórios</p>
        <p class="text-center"><a href="https://behive.global/produtos/reskin/morning-antiox-150g?loja=/ligiavalle&" class="btn btn-primary btn-lg btn-behive"  role="button" target="_blank">Compre agora</a></p>
    </div>
</div>