<!-- Moon Milk -->
<div class="thumbnail">
    <img src="/assets/img/products/hive/nimbus-app.webp" alt="Nimbus App Hive">
    <div class="caption">
        <h3>Nimbus App<span class="badge label-success pull-right"> App </span> </h3>
        <p>Aplicativo Nimbus, melhora o estresse, a ansiedade, o sono e o bem-estar</p>
        <p class="text-center"><a href="https://behive.global/produtos/nimbus/app-nimbus?loja=/ligiavalle&" class="btn btn-primary btn-lg btn-behive"  role="button" target="_blank">Compre agora</a></p>
    </div>
</div>