<!-- Prebiotic Collagen -->
<div class="thumbnail">
    <img src="/assets/img/products/hive/skn_antiaging_serum.webp" alt="Hive Anti-aging Facial Sérum">
    <div class="caption">
        <h3>Anti-aging Facial Sérum<span class="badge label-success pull-right"> 30ml </span> </h3>
        <p>Rejuvenescedor multifuncional com fórmula exclusiva que estimula a síntese de colágeno, melhorando a firmeza e elasticidade para uma pele jovem e livre de rugas.</p>
        <p class="text-center">
            <a href="https://behive.global/produtos/skn/antiaging-facial-serum-30ml?loja=/ligiavalle&" class="btn btn-primary btn-lg btn-behive"  role="button" target="_blank">Compre agora</a>
        </p>
    </div>
</div>
