<!DOCTYPE html>
<html lang="pt">
<head>
    {% include head.html %}
</head>
<body>
    {% include header.html %}
    <div class="content-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 entry-content ">
                    <h1 class="">{{ page.title }}</h1>
                    {{ content }}
                </div>
                <aside class="col-md-4">
                    {% include recent.html %}
                    {% include archives.html %}
                </aside>
            </div>

        </div>
    </div>
    {% include footer.html %}
    {% include menu.html %}


    <script src="/assets/js/script.js"></script>

</body>

</html>