<!DOCTYPE html>
<html lang="pt">
<head>
    {% include head.html %}

    <meta name="Robots" content="index, follow">
<script>
    function random() {
        $(document).ready(function() {
            var all = $(".widget-random").map(function() {
                return this;
            }).get();
            console.log(all);
            var rnd = Math.floor(Math.random() * all.length);// Math.floor(Math.random() * (all.length));
            $(".widget-random").removeClass(function(n) {
                if (n == rnd) {
                    return "widget-random";
                }
                return "";
            });

        });

//
//        $(".widget-random").get(rnd).style.display=''
//        //all[rnd].show();
//        console.log(all);
    }
</script>
</head>
<body onload="random()">
    {% include header.html %}
    <div class="content-body">
        <div class="container">
            <!--            -->
            <div class="row">
                <main class="col-md-8 col-sm-8 entry-content ">
                    <h1 class="">Bem-vindo</h1>
                    {{ content }}
                    {% for post in site.posts %}

                    {% if post.photo %}
                    <article class="post post-1">
                        <header class="entry-header">
                            <h1>
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </h1>
                            <div class="entry-meta">
                                <span class=""><a href="#"><time class="entry-date" datetime="{{ post.date }}">{{ post.date  | date_to_long_string }}</time></a></span>
                                <span class=""><a href="#">{{ post.category }}</a></span>
                                <span class=""><a href="#">{{ post.author }}</a></span>

                            </div>
                        </header>
                        <div class="media">
                            <div class="entry-content clearfix">
                                <div class="media-body">
                                    <p>{{ post.excerpt }}</p>
                                </div>

                                <div class="media-right media-middle">
                                    <a href="{{ post.url }}">
                                        <img class="media-object" width="180px" src="{{ post.photo}}" alt="...">
                                    </a>
                                </div>
                        </div>

                            <div class="read-more cl-effect-14">
                                <a href="{{ post.url }}" class="more-link">Continue lendo <span class="meta-nav">→</span></a>
                            </div>
                        </div>
                    </article>

                    {% else %}
                    <article class="post post-1">
                        <header class="entry-header">
                            <h1>
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </h1>
                            <div class="entry-meta">
                                <span class=""><a href="#"><time class="entry-date" datetime="{{ post.date }}">{{ post.date  | date_to_long_string }}</time></a></span>
                                <span class=""><a href="#">{{ post.category }}</a></span>
                                <span class=""><a href="#">{{ post.author }}</a></span>

                            </div>
                        </header>
                        <div class="entry-content clearfix">
                            <p>{{ post.excerpt }}</p>
                            <div class="read-more cl-effect-14">
                                <a href="{{ post.url }}" class="more-link">Continue lendo <span class="meta-nav">→</span></a>
                            </div>
                        </div>
                    </article>
                    {% endif %}
                    <hr style="border-top: 2px solid #eee"/>

                    {% if  forloop.index % 2 == 0 %}
<!--                    <article class="post post-1">-->
<!--                    <header class="entry-header">-->
<!--                        <h1 class="entry-title">-->
<!--                            <a href="{{ post.url }}">{{ post.title }}</a>-->
<!--                        </h1>-->
<!--                        <div class="entry-meta">-->
<!--                            <span class="post-category"><a href="#">{{ post.category }}</a></span>-->

<!--                            <span class="post-date"><a href="#"><time class="entry-date" datetime="{{ post.date }}">{{ post.date  | date_to_long_string }}</time></a></span>-->

<!--                            <span class="comments-link"><a href="#">{{ post.author }}</a></span>-->

<!--                        </div>-->
<!--                    </header>-->
<!--                    <div class="media">-->
<!--                        <div class="media-left">-->
<!--                            <a href="#">-->
<!--                                <img class="media-object" src="/assets/img/collagene-smart-active.jpg" width="128" alt="">-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="media-body">-->
<!--                            {{ post.excerpt }}-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    </article>-->
                    {% else %}
                    {% endif %}

                    {% endfor %}

                </main>
                <aside class="col-md-4">
                    {% include recent.html %}
                    {% include things-i-love.html %}
                    {% include social.html %}

                </aside>
            </div>

        </div>
    </div>
    {% include footer.html %}
    {% include menu.html %}

    <script src="/assets/js/script.js"></script>

</body>

</html>