<!DOCTYPE html>
<html lang="pt">
    <head>
    {% include head.html %}
    </head>


    {% assign words = post.content | strip_html | strip_newlines | remove: " " | size %}
    {% assign time = post.content | strip_html | strip_newlines | remove: " " | size | divided_by: 400 | plus: 1 %}

    {% include header.html %}

    <div class="content-body">
        <div class="container">
            <div class="row">
                <main class="col-md-8">
                    <article class="post post-1">
                        <header class="entry-header">
                            <h1>{{ page.title }}</h1>
                            <div class="entry-meta">
                                <span class=""><a href="#"><time class="entry-date" datetime="{{ page.date }}">{{ page.date  | date_to_long_string }}</time></a></span>
                                <span class=""><a href="#"><span class="ion-clock readingtime"> {{ time }} {%if time > 1 %}mins{% else %}min{% endif %} to read</span></a></span>
                                <span class=""><a href="#">{{ page.category}}</a></span>

                                <!--                                <span class="comments-link"><a href="https://plus.google.com/u/0/106503478633817605504?rel=author">{{ page.author }}</a></span>-->
                            </div>
                        </header>

                        <div class="entry-content clearfix" style="padding-top: 20px" >
                            {% include share-bar.html %}
                            {% if page.photo %}

                            <figure class="img-responsive-center">
                                <img class="img-responsive" src="{{ page.photo }}" alt="{{ page.photo_alt }}">
                                {% if page.photo_credits %}
                                <p  style="text-align: right">Image by <a href="{{ page.photo_credits_link }}" target="_blank"><strong>{{ page.photo_credits }}</strong></a> from Pixabay</p>
                                {% endif %}
                            </figure>
                            {% endif %}
                            {{ content }}
                        </div>
                        {% if page.call-to-action == "inpage" %}
                            {% include contact.html %}
                        {% endif %}
                    </article>

                </main>
                <aside class="col-md-4">
                    {% include recent.html %}
                    {% include product.html %}
                    {% include share-cta.html %}
                    {% if page.call-to-action != "inpage" %}
                        {% include contact.html %}
                    {% endif %}
                    {% include social.html %}
                </aside>
            </div>
        </div>
    </div>
    {% include footer.html %}
    {% include menu.html %}

    <script src="/assets/js/script.js"></script>


</body>

</html>